body {
  font-family: 'Merriweather', serif;
  font-size: 18px;
  line-height: 1.3;
  margin: 0;
  padding: 0;
}
.content {
  text-align: justify;
}
h1 {
  text-align: center;
  font-size: 28px
}
h2 {
  font-style: italic;
  text-align: center;
  font-size: 22px
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.video {
  margin: 20px 0;
}
footer {
  padding: 20px;
  width: 100%;
  float: left;
  margin: 0;
  background-color: #2f2f2f;
  color:#fff;
}
footer p {
  text-align: center;
  font-size: .8em;
  font-weight: lighter;
  text-align: center;
}
