body {
  font-family: 'Merriweather', serif;
  font-size: 18px;
  line-height: 1.3;
  margin: 0;
  padding: 0;
}
.content {
  width:80%;
  margin: 0 auto;;
  text-align: justify;
}
h1 {
  text-align: center;
}
h2 {
  font-style: italic;
  text-align: center;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
footer {
  padding: 20px;
  margin: 0;
  background-color: #2f2f2f;
  color:#fff;
}
footer p {
  text-align: center;
  font-size: .8em;
  font-weight: lighter;
  text-align: center;
}
